<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de usuarios</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Nombre de usuario</th>
            <th>Rol</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}">Nombre de usuario</td>
            <td th:text="${user.role}">Rol</td>
            <td th:text="${user.email}">Email</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
